Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
README_REMOTE_2372.md
README_LOCAL_2372.md
README_BASE_2372.md
README_BACKUP_2372.md
